@import url('base.css');

.CodeMirror-scroll {
  overflow: visible !important;
}

.jp-Cell-inputWrapper {
  overflow: visible;
}

.jp-InputArea {
  overflow: visible;
}

.jp-InputArea-editor {
  overflow: visible;
}

.CodeMirror {
  overflow: visible;
}


.my-apodWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }
.remote-caret {
    position: absolute;
    border-left: black;
    border-left-style: solid;
    border-left-width: 2px;
    height: 1em;
}
.remote-caret > div {
    position: absolute;
    z-index: 1;
    transform: translateY(-70%);
    color: white;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
    white-space: nowrap;
}